
<!doctype HTML>
<meta charset = 'utf-8'>
<html>
  <body bgcolor="#E6E6FA">
  <head>
    <title>Peyton's Quest 2013, Game 14</title>
    <style>
    p.serif{font-family:"Times New Roman",Times,serif;}
    p.sansserif{font-family:Arial,Tahoma,Helvetica,sans-serif;}
    </style>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href="http://netdna.bootstrapcdn.com/bootswatch/2.3.1/cosmo/bootstrap.min.css">
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" >
    <link rel='stylesheet' href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css">
    <link rel='stylesheet' href="http://aozora.github.io/bootplus/assets/css/docs.css">
    <link rel='stylesheet' href='http://nvd3.org/src/nv.d3.css'>
    
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' type='text/javascript'></script>
    <script src='http://d3js.org/d3.v2.min.js' type='text/javascript'></script>
    <script src='http://nvd3.org/nv.d3.js' type='text/javascript'></script>
    <script src='http://nvd3.org/lib/fisheye.js' type='text/javascript'></script>
    
    <style>
    .rChart {
      display: block
      margin: auto auto;
      width: 120%;
      height: 445px;
    }
    .bs-docs-example:after {
      content: "";
      background: transparent;
      border: none;
    }
    </style>
            <!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-S9mx3XF_GwU-x"
});
</script>

<meta name="description" content="Peyton Manning's having an incredible 2013 season but will his performance this season break any NFL passing records?  Interactively follow this story here as Peyton shoots for the record books." />
<link rel="canonical" href="http://aragorn.org/visualization/nfl/features/peyton_manning/peyton_quest_2013/game_14/summary" />
<meta property="og:description" content="Peyton Manning's having an incredible 2013 season but will his performance this season break any NFL passing records?  Interactively follow this story here as Peyton shoots for the record books." />
<meta property="og:image" content="http://aragorn.org/visualization/nfl/features/peyton_manning/peyton_quest_2013/game_14/summary/screen.png" />
<meta property="og:site_name" content="Aragorn" />
<meta property="og:title" content="Peyton's Quest 2013" />
<meta property="og:type" content="article" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="Peyton's Quest 2013" />
        <meta name="twitter:title" content="Peyton's Quest 2013" />
        <meta name="twitter:description" content="Peyton Manning's having an incredible 2013 season but will his performance this season break any NFL passing records?  Interactively follow this story here as Peyton shoots for the record books." />
        <meta name="twitter:image" content="http://aragorn.org/visualization/nfl/features/peyton_manning/peyton_quest_2013/game_14/summary/screen.png" />
        <meta name="twitter:site" content="Aragorn" />
  </head>
       <center>
       <h3><p class="sansserif">Peyton's Quest 2013 Through 14 Games <b>EMPOWERED by <a href="http://aragorn.org/" target="_blank"><img src="http://aragorn.org/img/aragorn.png" height="26" width="137" alt="aragorn"></a></b></p></h3>
    </center>
  </head>
  <body ng-app>
      <div class='container' ng-controller="DemoCtrl">
  <div class='row'>
    <div class='span3'>
      <form class='well'>
        <label><b>Select  y :</b></label>
        <select ng-model="opts.y" 
          ng-options="ctl for ctl in controls.y.values">   
        </select><br>
        <label><b>Select  x :</b></label>
        <select ng-model="opts.x" 
          ng-options="ctl for ctl in controls.x.values">   
        </select><br>
      </form>
    </div>
    <div class='span8'>
      <div class="bs-docs-example">
        <div id='chart91b72534afda' class='rChart '>
          <svg></svg>
        </div>
        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function DemoCtrl($scope){
  $scope.opts = {
 "dom": "chart91b72534afda",
"width":    760,
"height":    425,
"x": "label",
"y": "passing_yards",
"group": "label",
"type": "multiBarChart",
"id": "chart91b72534afda" 
}
  $scope.data = [
 {
 "player": "Peyton Manning",
"season": 2013,
"passing_yards": 4811,
"passing_touchdowns": 47,
"qb_rating":         111.39,
"attempts": 580,
"completions": 393,
"interceptions": 10,
"completion_percentage":          67.76,
"team_points": 535,
"opponent_points": 372,
"wins": 11,
"win_percentage":          78.57,
"point_contribution_ratio":          53.83,
"interceptions_per_attempt":           1.72,
"yards_per_completion":          12.24,
"yards_per_attempt":           8.29,
"touchdowns_per_interception":            4.7,
"touchdowns_per_attempt":            8.1,
"touchdowns_per_completion":          11.96,
"player_point_to_opponent_point_ratio":          77.42,
"label": "Manning '13",
"team": "Denver Broncos",
"color": "#FB4F14",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Manning '13</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Peyton Manning+Denver Broncos+2013' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2013<br><b>Games:</b> 14<br><b>QB Rating:</b> 111.39<br><b>Passing TDs:</b> 47<br><b>Passing Yards:</b> 4811<br><b>Interceptions:</b> 10</td></tr></table>" 
},
{
 "player": "Drew Brees",
"season": 2011,
"passing_yards": 4780,
"passing_touchdowns": 37,
"qb_rating":         109.18,
"attempts": 583,
"completions": 417,
"interceptions": 11,
"completion_percentage":          71.53,
"team_points": 457,
"opponent_points": 306,
"wins": 11,
"win_percentage":          78.57,
"point_contribution_ratio":          49.89,
"interceptions_per_attempt":           1.89,
"yards_per_completion":          11.46,
"yards_per_attempt":            8.2,
"touchdowns_per_interception":           3.36,
"touchdowns_per_attempt":           6.35,
"touchdowns_per_completion":           8.87,
"player_point_to_opponent_point_ratio":          74.51,
"label": "Brees '11",
"team": "New Orleans Saints",
"color": "#D2B887",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Brees '11</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Drew Brees+New Orleans Saints+2011' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2011<br><b>Games:</b> 14<br><b>QB Rating:</b> 109.18<br><b>Passing TDs:</b> 37<br><b>Passing Yards:</b> 4780<br><b>Interceptions:</b> 11</td></tr></table>" 
},
{
 "player": "Tom Brady",
"season": 2011,
"passing_yards": 4593,
"passing_touchdowns": 35,
"qb_rating":         107.55,
"attempts": 530,
"completions": 351,
"interceptions": 11,
"completion_percentage":          66.23,
"team_points": 437,
"opponent_points": 297,
"wins": 11,
"win_percentage":          78.57,
"point_contribution_ratio":          49.43,
"interceptions_per_attempt":           2.08,
"yards_per_completion":          13.09,
"yards_per_attempt":           8.67,
"touchdowns_per_interception":           3.18,
"touchdowns_per_attempt":            6.6,
"touchdowns_per_completion":           9.97,
"player_point_to_opponent_point_ratio":          72.73,
"label": "Brady '11",
"team": "New England Patriots",
"color": "#C80815",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Brady '11</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Tom Brady+New England Patriots+2011' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2011<br><b>Games:</b> 14<br><b>QB Rating:</b> 107.55<br><b>Passing TDs:</b> 35<br><b>Passing Yards:</b> 4593<br><b>Interceptions:</b> 11</td></tr></table>" 
},
{
 "player": "Aaron Rodgers",
"season": 2011,
"passing_yards": 4360,
"passing_touchdowns": 40,
"qb_rating":         119.91,
"attempts": 473,
"completions": 322,
"interceptions": 6,
"completion_percentage":          68.08,
"team_points": 480,
"opponent_points": 297,
"wins": 13,
"win_percentage":          92.86,
"point_contribution_ratio":          53.75,
"interceptions_per_attempt":           1.27,
"yards_per_completion":          13.54,
"yards_per_attempt":           9.22,
"touchdowns_per_interception":           6.67,
"touchdowns_per_attempt":           8.46,
"touchdowns_per_completion":          12.42,
"player_point_to_opponent_point_ratio":          86.87,
"label": "Rodgers '11",
"team": "Green Bay Packers",
"color": "#FFCC00",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Rodgers '11</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Aaron Rodgers+Green Bay Packers+2011' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2011<br><b>Games:</b> 14<br><b>QB Rating:</b> 119.91<br><b>Passing TDs:</b> 40<br><b>Passing Yards:</b> 4360<br><b>Interceptions:</b> 6</td></tr></table>" 
},
{
 "player": "Dan Marino",
"season": 1984,
"passing_yards": 4340,
"passing_touchdowns": 40,
"qb_rating":         108.43,
"attempts": 483,
"completions": 310,
"interceptions": 14,
"completion_percentage":          64.18,
"team_points": 450,
"opponent_points": 260,
"wins": 12,
"win_percentage":          85.71,
"point_contribution_ratio":          53.33,
"interceptions_per_attempt":            2.9,
"yards_per_completion":             14,
"yards_per_attempt":           8.99,
"touchdowns_per_interception":           2.86,
"touchdowns_per_attempt":           8.28,
"touchdowns_per_completion":           12.9,
"player_point_to_opponent_point_ratio":          92.31,
"label": "Marino '84",
"team": "Miami Dolphins",
"color": "#006666",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Marino '84</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Dan Marino+Miami Dolphins+1984' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 1984<br><b>Games:</b> 14<br><b>QB Rating:</b> 108.43<br><b>Passing TDs:</b> 40<br><b>Passing Yards:</b> 4340<br><b>Interceptions:</b> 14</td></tr></table>" 
},
{
 "player": "Tom Brady",
"season": 2007,
"passing_yards": 4235,
"passing_touchdowns": 45,
"qb_rating":         117.06,
"attempts": 503,
"completions": 348,
"interceptions": 6,
"completion_percentage":          69.18,
"team_points": 523,
"opponent_points": 232,
"wins": 14,
"win_percentage":            100,
"point_contribution_ratio":          53.92,
"interceptions_per_attempt":           1.19,
"yards_per_completion":          12.17,
"yards_per_attempt":           8.42,
"touchdowns_per_interception":            7.5,
"touchdowns_per_attempt":           8.95,
"touchdowns_per_completion":          12.93,
"player_point_to_opponent_point_ratio":         121.55,
"label": "Brady '07",
"team": "New England Patriots",
"color": "#0D254C",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Brady '07</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Tom Brady+New England Patriots+2007' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2007<br><b>Games:</b> 14<br><b>QB Rating:</b> 117.06<br><b>Passing TDs:</b> 45<br><b>Passing Yards:</b> 4235<br><b>Interceptions:</b> 6</td></tr></table>" 
},
{
 "player": "Peyton Manning",
"season": 2004,
"passing_yards": 4168,
"passing_touchdowns": 47,
"qb_rating":         118.25,
"attempts": 451,
"completions": 308,
"interceptions": 9,
"completion_percentage":          68.29,
"team_points": 474,
"opponent_points": 287,
"wins": 11,
"win_percentage":          78.57,
"point_contribution_ratio":          59.49,
"interceptions_per_attempt":              2,
"yards_per_completion":          13.53,
"yards_per_attempt":           9.24,
"touchdowns_per_interception":           5.22,
"touchdowns_per_attempt":          10.42,
"touchdowns_per_completion":          15.26,
"player_point_to_opponent_point_ratio":          98.26,
"label": "Manning '04",
"team": "Indianapolis Colts",
"color": "#003B7B",
"week": 14,
"detail": "<table cellpadding='3' style='line-height:1.25'><tr><th colspan='2.5'>Manning '04</th></tr><tr><td><iframe src='http://nflcombineresults.com/testembed2.php#advanced/search-advanced-query=Peyton Manning+Indianapolis Colts+2004' height='125' width='100'></iframe></td><td align='left'><b>Season:</b> 2004<br><b>Games:</b> 14<br><b>QB Rating:</b> 118.25<br><b>Passing TDs:</b> 47<br><b>Passing Yards:</b> 4168<br><b>Interceptions:</b> 9</td></tr></table>" 
} 
]
  $scope.controls = {
 "y": {
 "name": "y",
"value": "passing_yards",
"values": [ "passing_yards", "passing_touchdowns", "qb_rating", "completions", "attempts", "interceptions", "completion_percentage", "yards_per_attempt", "yards_per_completion", "interceptions_per_attempt", "point_contribution_ratio", "team_points", "opponent_points", "wins", "win_percentage", "point_contribution_ratio", "interceptions_per_attempt", "yards_per_completion", "yards_per_attempt", "touchdowns_per_interception", "wins", "win_percentage", "team_points", "opponent_points" ],
"label": "Select  y :" 
},
"x": {
 "name": "x",
"value": "label",
"values": [ "label", "season", "team", "win_percentage", "wins" ],
"label": "Select  x :" 
} 
}           
  $scope.drawChart = function(){
    drawChart($scope.opts, $scope.data)  
  }
  $scope.$watch('opts',function(){
    $scope.drawChart()
  }, true)
}  
 
function drawChart(opts, data){  
  var data = d3.nest()
    .key(function(d){
      return opts.group === undefined ? 'main' : d[opts.group]
    })
    .entries(data)
  
  nv.addGraph(function() {
    var chart = nv.models[opts.type]()
      .x(function(d) { return d[opts.x] })
      .y(function(d) { return d[opts.y] })
      .width(opts.width)
      .height(opts.height)
    
  chart
  .showControls(false)
  .color([ "#FB4F14", "#D2B887", "#C80815", "#FFCC00", "#006666", "#0D254C", "#003B7B" ])
  .tooltip( function(key, x, y, e, graph) {
return '<p>' + e.point.detail + '</p>' +
'<p>' + ''  + '</p>'
})
  .reduceXTicks(false)
          
  chart.xAxis
  .rotateLabels(   -30)
 
  
  
 chart.yAxis
  .tickFormat(function(d) {return d3.format('.02f')(d)})
  var barWidth = 100;
 
  d3.select("#" + opts.id + ' svg')
    .datum(data)
    .transition().duration(300)
    .call(chart);
  d3.selectAll('text').style("font-size","10")
   nv.utils.windowResize(chart.update);
   d3.selectAll('text').style("font-size","10")
   return chart;
  });
};
</script>
     <script>
  var _gaq=[['_setAccount','UA-34398972-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  </body>
  <!-- Google Prettify -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script 
    src='https://google-code-prettify.googlecode.com/svn-history/r232/trunk/src/lang-r.js'>
  </script>
  <script>
    var pres = document.getElementsByTagName("pre");
    for (var i=0; i < pres.length; ++i) {
      pres[i].className = "prettyprint linenums";
    }
    prettyPrint();
  </script>
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Exo+2:400,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</html>